*.log

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz


.DS_Store
.AppleDouble
.LSOverride

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
